.App {
  height: 100vh;
  width: 100vw;
  background-color: black;
}
header{
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav{
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  width: 175px;
  height: 100vh;
}
.links{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 60%;
  color: #8c52ff;
  height: 40%;
  text-align: center;

}

.logo{
  max-height: 12%;
}

.nav-button {
  background: none;
  color: inherit;
  font: inherit;
  border: none;
  text-decoration: none;
  width: 100%;
}

.nav-button:hover {
  color: #00c856;
}
.components {
  width: 85%;
  margin-left: 200px;
}
.logoButton {
  width: 30%;
}

#Teams{
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
}


.teamToggle{
  display: flex;
  border: 1px solid red;
  height: 14em;
  justify-content: center;
}

.teamToggle button {
  border: 1px solid green;
  width: 25%;
}