header{
  background-color: #1F1C29;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.coverImg{
  width: 100%;
}
nav{
  position: fixed;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  width: 250px;
  height: 150vh;
  background-size: contain;
  background-color: black;
  background-image: url('./photos/transparentpurplelogo.png');
  background-position: 3em;
  background-position-y: 140px;

}
.links{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 60%;
  color: #8c52ff;
  height: 40%;
  text-align: center;
}

.nav-button {
  background: none;
  color: inherit;
  font: inherit;
  border: none;
  text-decoration: none;
  width: 100%;
}

.nav-button:hover {
  color: #00c856;
}
.components {
  width: 90%;
  margin-left: 250px;
}
.logoButton {
  width: 30%;
}

#Teams{
  display: flex;
  background-color: #1F1C29;
  background-image: url('./photos/teamMenuBanner.jpg');
  background-blend-mode:soft-light;
  flex-direction: column;
  align-items: center;
  color:#00AB49;
  
}


.teamToggle{
  display: flex;
  height: 10em;
  justify-content: space-evenly;
}

.teamToggle button {
  width: 25%;
}
#logo{
  max-height: 10%;
}

footer{
  color: #00AB49;
  background-color: #1F1C29;
  display: flex;
  flex-direction: row;
  margin-left: 250px;
  justify-content: space-between;
  padding-right: 1em;
  padding-left: 1em;
}