.announcement{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #1F1C29;
    background-image: url('../photos/announcementBackground.png');
    background-size: cover;
    justify-content: start;
}

.gif{
    width: 80%;
    height: 80%;
}

.description {
    font-size: x-large;
}