.Form {
    background-image: url('../photos/setup.png');
    background-size: cover;
    background-position-y: 30%;
}
.Signup {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SignUpLink {
    text-decoration: none;
    color: #00c856;
}

.SignUpLink:hover {
    color: #8c52ff;
}
.ContactUs{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background: none;
    color: #00c856;
    border: none;
}

button:hover {
    color: #8c52ff;
}