.Teams {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.GameHeader{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    align-items: center;
}
.OwLogo{
    max-width: 10%;
}

.GameName {
    align-self:center;
    justify-self: left;
    padding-left: 2em;
}
.Val {
    max-width: 10%;
    background: none;
}

.GameWriteUp {
    padding-left: 5em;
}

.Rocket {
    max-width: 10%;
}

.Cs {
    max-width: 10%;
}