.Ufv {
    color: #1F1C29;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00AB49;
}
.ufvLogo{
    max-width: 15%;
}
.body{
    display: flex;
    flex-direction: row;
}
.body p {
    align-self: center;
}